/**
 *
 **/


ol.post-list, 
ol.comment-list { list-style: none; padding: 0; margin: 0; }

/* General Post Styles */
.post-list li:after { content: ' '; clear: both; display: block; }
.post-entry { overflow: hidden; margin: 0 0 20px; }
.post-date { margin: 0 0 20px; }
.post-image { float: left; } /*out smy - margin-right: 10px; */
.post-meta { clear: both; margin: 0 0 20px; text-align: left; }
.post-meta .post-meta-item { display: inline-block; margin-right: 10px; }
.post-readmore { margin-top: 10px; }

.post-entry iframe { max-width: 100%; }
/* Comments */
.comment-list-item { margin: 0 0 20px; }
.comment-list.children { margin-top: 20px; }
.comment-image { float: left; margin: 0 10px 10px 0; }
.comment-meta {}
.comment-author { font-weight: bold; display: block; }
.comment-date {}
.comment-entry { clear: both; margin: 0 0 20px; }

/* Widgets */
.block-blog .block-title { margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #c6c6c6; }
.block-blog .block-title > strong { font-size: 18px; font-weight: 300; }
.block-blog ul, .block-blog ol { list-style: none; margin: 0; padding: 0; }
.block-blog-cloud li { display: inline; margin: 0; }
.block-blog-categories ul.level1 { margin-top: 1rem; }