.yoastBox .yoastBox-tabs {
  position: relative;
  z-index: 2;
  list-style: none;
  margin-bottom: 0;
}
.yoastBox .yoastBox-tabs:after {
  content: "";
  display: table;
  clear: both;
}
.yoastBox .yoastBox-tabs li {
  float: left;
  padding: 5px 10px;
  border: 1px solid transparent;
}
.yoastBox .yoastBox-tabs li:not(:first-child) {
  margin-left: 2px;
}
.yoastBox .yoastBox-tabs a {
  display: block;
  color: #303030;
  transition: color 0.3s linear;
}
.yoastBox .yoastBox-tabs li.ui-state-active {
  border-top-color: #d6d6d6;
  border-right-color: #d6d6d6;
  border-bottom-color: #ffffff;
  border-left-color: #d6d6d6;
}
.yoastBox .yoastBox-tabs li.ui-state-active a {
  color: #eb5202;
}
.yoastBox .yoastBox-tab {
  position: relative;
  z-index: 1;
  border: 1px solid #d6d6d6;
}
.yoastBox .yoastBox-tab .fieldset-wrapper {
  padding-bottom: 0;
}
.yoastBox .yoastBox-tab .admin__field-label {
  width: calc((100% * 0.15) - 30px);
}
.yoastBox .yoastBox-tab .admin__control-checkbox + .admin__field-label {
  width: auto;
}
.yoastBox .yoastBox-tab .admin__field-control {
  width: calc((100% * 0.8) - 30px);
}
.yoastBox .analysisBox {
  border: 1px solid #ddd;
  margin-bottom: 15px;
}
.yoastBox .analysisBox > h3 {
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
  cursor: pointer;
}
.yoastBox .analysisBox > h3 .overallScore {
  float: left;
  width: 12px;
  height: 12px;
  margin: 3px 10px 0 0;
  border-radius: 50%;
  background: #888;
}
.yoastBox .analysisBox > h3 .overallScore.na {
  background-color: #999;
}
.yoastBox .analysisBox > h3 .overallScore.bad {
  background-color: #dc3232;
}
.yoastBox .analysisBox > h3 .overallScore.ok {
  background-color: #ee7c1b;
}
.yoastBox .analysisBox > h3 .overallScore.good {
  background-color: #7ad03a;
}
.yoastBox .analysisBox > * {
  padding: 10px 15px;
}
.yoastBox .analysisBox .admin__fieldset {
  padding: 1rem 0;
}
.yoastBox .analysisBox .seo-focusKeyword {
  font-weight: bold;
}
.yoastBox .yoastBox-focusKeyword {
  margin-left: 0;
}
.yoastBox .yoastBox-focusKeyword .admin__field-label,
.yoastBox .yoastBox-focusKeyword .admin__field-control {
  float: none;
  width: 100%;
  text-align: left;
  margin-left: 0;
}
.yoastBox .yoastBox-focusKeyword.admin__field:not(.admin__field-option) > .admin__field-label span[data-config-scope]:before,
.yoastBox .accordion .config .label span[data-config-scope]:before {
  bottom: initial;
  right: -10px;
  transform: translateX(100%);
}
.yoastBox .snippet-editor__preview {
  padding-left: 0;
}
.yoastBox .yoastBox-facebook-fieldset,
.yoastBox .yoastBox-twitter-fieldset {
  display: block;
}
.yoastBox-facebook-fieldset,
.yoastBox-twitter-fieldset {
  display: none;
}
.catalog-category-edit [data-index="url_key_group"] {
  display: none;
  visibility: hidden;
}
.catalog-product-edit [data-index="container_url_key"] {
  display: none;
  visibility: hidden;
}
