<?php
/**
 * Copyright © 2017 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Magenest_QuickBooksOnline extension
 * NOTICE OF LICENSE
 *
 * @category Magenest
 * @package  Magenest_QuickBooksOnline
 * @author   Magenest JSC
 */
?>
<?php
/** @var $block \Magenest\QuickBooksOnline\Block\System\Config\Form\Button\Connection */
?>
<script type="text/javascript">
    requirejs(['intuit.ipp.anywhere'], function(){
        intuit.ipp.anywhere.setup({
            menuProxy: '<?php echo $block->getMenuUrl();?>',
            grantUrl: '<?php echo $block->getGrantUrl();?>'
        });
    });

</script>
<ipp:connectToIntuit></ipp:connectToIntuit>
