<?php
/**
 *
 */
?>


<div class="wp-sidebar">
<?php 
/*		 if(strpos($_SERVER['REQUEST_URI'], '/content/everybody-adventures') !== false){
		echo '<img src="https://www.everybodyshops.com/pub/media/catalog/category/adventures270.jpg">';
	}
	else if(strpos($_SERVER['REQUEST_URI'], '/content/everybody-craves') !== false){
		echo '<img src="https://www.everybodyshops.com/pub/media/catalog/category/craves270.jpg">';
	}
	else if(strpos($_SERVER['REQUEST_URI'], '/content/everybody-gardens') !== false){
		echo '<img src="https://www.everybodyshops.com/pub/media/catalog/category/gardens270.jpg">';
	}
	else {
		echo '<img src="https://www.everybodyshops.com/pub/media/logo/stores/1/Store-Logo_Fullcolor-05.09.17-rev3-wftoar-300.png">';
	}*/

?>
	<img src="https://www.everybodyshops.com/pub/media/logo/stores/1/EverybodyLearns_554.png" width=300>

    <br /><br />

	<?php echo $this->getChildHtml() ?>
</div>


