<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Syauger :)
 */
?>



<style>
.multi_logo {
    background: url("https://www.everybodyshops.com/pub/media/catalog/category/craves300_tall.jpg") 0 0 no-repeat;
    width: 200px; /* match logo width */
    height: 80px; /* match logo height */
    text-indent: -9999px; /* hides text */
	}

.category-everybody-adventures .multi_logo {
	background-image: url("https://www.everybodyshops.com/pub/media/catalog/category/adventures300_tall.jpg") 0 0 no-repeat;
	width:100%;
	height: auto;
	max-width: 320px;
	background-color: #321321;
	}
	
.category-everybody-craves .multi_logo {
	background-image: url("https://www.everybodyshops.com/pub/media/catalog/category/craves300_tall.jpg") 0 0 no-repeat;
	width:100%;
	height: auto;
	max-width: 320px;
	background-color: #321321;
	}
/*typo in gardens logo name*/	
.category-everybody-gardens .multi_logo {
	background-image: url("https://www.everybodyshops.com/pub/media/catalog/category/gradens300_tall.jpg") 0 0 no-repeat;
	width:100%;
	height: auto;
	max-width: 320px;
	background-color: #321321;
	}
</style>

<div class="block block-blog block-logo">
	<div class="block-title">
		<strong>Logo Test Area</strong>
	</div>
	<div class="block-content">
		<div id="multi_logo"><!--This will be a dynamic class that change based off of post category.-->
			Category Logo Everybody Shops
		</div>
	</div>
</div>
