<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 * Edit:        Shawn Yauger / Removed the Search header, added too much clutter to the left rail.
 */
?>
<div class="block block-blog block-blog-search">
	<?php /*?><!--<?php if ($title = $this->getTitle()): ?>
		<div class="block-title">
			<strong><?php echo __($title) ?></strong>
		</div>
	<?php endif; ?>--><?php */?>
	<div class="block-content">
		<form method="get" action="<?php echo $this->getFormActionUrl() ?>" id="blog-search-form">
			<div class="blog-search" style="display: flex;">
				<?php if ($this->getPostType()): ?>
				<div class="no-display">
					<input type="hidden" name="post_type" value="<?php echo $this->getPostType() ?>" />
				</div>
				<?php endif; ?>
				<input type="text" name="s" class="input-text" title="<?php echo __('Search Posts') ?>" placeholder="Search Posts" value="<?php echo $this->escapeHtml($this->getSearchTerm()) ?>"/>
				<button class="button" title="<?php echo __('Search Posts') ?>" type="submit"><span><span class="ico-mglass"><?php echo __('') ?></span></span></button>
			</div>
		</form>
	</div>
</div>