<?php $welcomeMessage = $block->getWelcome(); ?>

<div class="header-container header-style-6">
	<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-5 col-sm-3 customer-action-header">
					<div class="customer-action-hd">
						<span class="welcome-text">

							<span class="greet welcome" data-bind="scope: 'customer'">
								<!-- ko if: customer().fullname  -->
								<span data-bind="text: new String('<?php echo $block->escapeHtml(__('Welcome, %1!', '%1'));?>').replace('%1', customer().firstname)">
								</span>
								<!-- /ko -->
								<!-- ko ifnot: customer().fullname  -->
								<span data-bind="html:'<?=$block->escapeHtml($welcomeMessage) ?>'"></span>
								<!-- /ko -->
							</span>
							<script type="text/x-magento-init">
							{
								"*": {
									"Magento_Ui/js/core/app": {
										"components": {
											"customer": {
												"component": "Magento_Customer/js/view/customer"
											}
										}
									}
								}
							}
							</script>

						</span>
						
						<?php
							$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
							$customerSession = $objectManager->get('Magento\Customer\Model\Session');
						?>
						
						<?php if($customerSession->isLoggedIn()){?>
							<a href="<?php echo $this->getUrl('customer/account/logout')?>" title="<?php echo __('Logout')?>"><?php echo __('Logout')?></a>
						<?php } else {?>
							<a href="<?php echo $this->getUrl('customer/account/create')?>" title="<?php echo __('Create Your Account')?>"><?php echo __('Join Free')?></a> <?php echo __('or')?> <a href="<?php echo $this->getUrl('customer/account/login')?>" title="<?php echo __('Sign In')?>"><?php echo __('Sign in')?></a>
						<?php } ?>
					</div>
				</div>
				
				<div class="col-lg-7 col-md-7 col-sm-9 header-top-links">
					<?php echo $block->getChildHtml('currency-header'); ?>
					<?php echo $block->getChildHtml('language-header'); ?>
					<?php echo $block->getChildHtml('toplinks-header'); ?>
				</div>
			</div>
		</div>
	</div>
	
	<div class="header-middle">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-12 logo-header">
					<?php echo $block->getChildHtml('logo-header'); ?>
				</div>
				
				<div class="col-lg-10 col-md-12 header-middle-right">
					<div class="middle-right-content">
						<div class="main-megamenu">
							<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('megamenu-horizontal')->toHtml();?>
						</div>
						
						<div class="navigation-mobile-container">
							<?php echo $block->getChildHtml('navigation.mobile'); ?>
						</div>
						
						<div class="search-header">
							<?php echo $block->getChildHtml('search-header-pro'); ?>
						</div>
						
						<div class="minicart-header">
							<div class="minicart-content">
								<?php echo $block->getChildHtml('cart-header'); ?>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<?php if($_config->getGeneral('menu_ontop') == 1){ ?>
	<script type="text/javascript">
		require([
			'jquery'
		], function ($) {
			$window = $(window);
			if($('.header-middle').length){
				menu_offset_top = $('.header-middle').offset().top;
				function processScroll() {
					var scrollTop = $window.scrollTop();
					if ( scrollTop >= menu_offset_top) {
						$('.header-middle').addClass('menu-on-top');
						$('body').addClass('body-on-top');
					} else if (scrollTop <= menu_offset_top) {
						$('.header-middle').removeClass('menu-on-top');
						$('body').removeClass('body-on-top');
					}
				}
				processScroll();
				$window.scroll(function(){
					processScroll();
				});
			}
		});
	</script>
<?php } ?>
