<div class="header-container header-style-5">
	<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 language-currency">
					<?php echo $block->getChildHtml('language-header'); ?>
					<?php echo $block->getChildHtml('currency-header'); ?>
				</div>
				
				<div class="col-lg-8 col-md-8  toplinks-wrapper">
					<?php echo $block->getChildHtml('toplinks-header'); ?>
				</div>
			</div>
		</div>
	</div>
	
	<div class="header-middle">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 search-box pull-right">
					<?php echo $block->getChildHtml('search-header-pro'); ?>
				</div>
				
				<div class="col-lg-5 col-md-5 col-sm-5 logo-container">
					<?php echo $block->getChildHtml('logo-header'); ?>
				</div>
				
				<div class="col-lg-3 col-md-3 col-sm-3 phone-cart"><!--Removed the Phone Block, if needed pull from the bk-up of this file-->
					<?php echo $block->getChildHtml('cart-header'); ?>
				</div>  
			</div>
		</div>
	</div>
	
<?php /*?><!--	<div class="slidershow-header">  **Removed and moved the call to a block under the nav**
		<?php echo $block->getChildHtml('slideshow-header'); ?>
	</div>--><?php */?>
	
	<div class="header-bottom">
		<div class="container">
			<div class="menu-horizontal-hd5">
				<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('megamenu-horizontal')->toHtml(); ?>
			</div>
			
			<div class="navigation-mobile-container">
				<?php echo $block->getChildHtml('navigation.mobile'); ?>
			</div>
		</div>
		
	</div>
</div>
