.category-everybody-gardens .header-style-5 .header-bottom .menu-horizontal-hd5 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu > li.sm_megamenu_actived > a, 
.category-everybody-gardens .header-style-5 .header-bottom .menu-horizontal-hd5 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu > li:hover > a {
	background: #7bae37 none repeat scroll 0 0;
}

.category-everybody-gardens .header-style-5 .header-bottom {
    border-bottom: 4px solid #7bae37;
}

.category-everybody-gardens .owl-controls .owl-nav div:hover, 
.category-everybody-gardens .page-title::before, 
.category-everybody-gardens button:hover, 
.category-everybody-gardens .cart-container .action.continue:hover, 
.category-everybody-gardens a.action.primary:hover, 
.category-everybody-gardens .sambar-inner::before,
.category-everybody-gardens .block .block-title::before,
.category-everybody-gardens .label-product.label-new,
.category-everybody-gardens .toolbar .modes .modes-mode.mode-grid:hover, 
.category-everybody-gardens .toolbar .modes .modes-mode.mode-grid.active,
.category-everybody-gardens .toolbar .modes .modes-mode.mode-list:hover, 
.category-everybody-gardens .toolbar .modes .modes-mode.mode-list.active,
.category-everybody-gardens .sm_quickview_handler:hover {
	background-color:#7bae37;
}

.category-everybody-gardens .label-product.label-new::before {
	border-top:4px solid #7bae37
}
.category-everybody-gardens a:hover {
	color:#7bae37;
}