@charset "utf-8";
/*Custom CSS Here*/
/*Created by: SMY*/
/*Eliminates the code bloat in the source code caused by the backend portal use.*/



/**************************************************************/
/* Products Styles - Products you might be interested in...  */
/************************************************************/

.post-entry div.featured-prod-container div.title-home h3 {
	padding-bottom:0.5em;
	}
.post-entry div.featured-prod-container div.slider-prod-container div.slider-prod.owl-carousel.owl-theme.owl-loaded div.owl-stage-outer div.owl-stage div.owl-item.active div.item.item-post div.info-blog div.date-post-title h3.postTitle a {
	color: #444444;
	font-size: 0.5em;
	font-weight: bold;
	}
.post-entry div.featured-prod-container div.slider-prod-container div.slider-prod.owl-carousel.owl-theme.owl-loaded div.owl-stage-outer div.owl-stage div.owl-item.active div.item.item-post div.image-blog.static-image {
	min-height:180px;
	}
div.post-entry div.featured-prod-container div.slider-prod-container {
	padding:5px; 
	border-bottom: 6px solid #5C5C5C;
	border-top: 4px solid #C6C6C6;
	}
.owl-carousel .owl-item {-moz-user-select: none;}
.slider-prod .item.item-post .image-blog {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	} 
.slider-prod .item.item-post .image-blog{
	float: left;
	min-height: 1px;
	padding-left: 8px;
        padding-right: 8px;
	position: relative;
	}
.owl-theme .owl-controls {
	padding-top: 6px;
	}
/*sidebar wordpress adjunct compare products - hidden*/
div.col-lg-3.col-md-3 div.sidebar.sidebar-additional div.block.block-compare{ display:none;
}
/*Wordpress Plugin Page Edits*/
#maincontent > div > div > div > div.col-lg-9.col-md-9 > div.page-title-wrapper > h1 > span {
	font-size: 1.8em;
    font-weight: normal;
    line-height: 1em;
}
div.column.main div.post-entry div.post-image a img {
    margin-right: 20px !important;
	min-width: 320px;
	max-width: 870px;
	margin-bottom: 20px;	
}
div.column.main div.post-entry div.post-image a img::after {
    clear:both;
	margin-bottom: 20px;
}
.post-image {
    float: none;
    margin-right: 20px !important;
}


/************************************************************************************
POST STYLE EDITS - PRE MAGENTO LANDINGS - SMY
*************************************************************************************/



/*h2.post-name {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    bottom: 0;
    padding: 10px;
    position: absolute;
}

.post-name.post-535 > a {
    color: white;
}

.post-image {
    float: left;
    position: relative;
}

.post-content {
	clear:both;
	
}

.press-down-535 {
	border-bottom: medium solid #000000;
}

div.post-list-wrapper ol.post-list li.item.col-lg-6.press-down-535 {
	margin-bottom: 15px;
}

*/
.post-name {color:red;}













/*.page-title {
    background-color: rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-size: 3em;
    font-weight: 700;
    margin: 8px;
    max-width: 600px;
    position: absolute;
    text-transform: uppercase;
	}*/

/*(must remove as it is the blue line in the headline*/
/*.page-title::before {
    bottom: 0px;
    content: "";
    display: inline-block;
    height: 0px;
    left: 0;
    position: relative;
    width: 0px;
	}*/


/*This forces the post image to go to full width.
div.post-image a img {
    background-size: cover;
    height: auto;
    width: 100%;
}*/