<?php
/**
 * Copyright © 2017 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Magenest_QuickBooksOnline extension
 * NOTICE OF LICENSE
 *
 * @category Magenest
 * @package  Magenest_QuickBooksOnline
 * @author   Magenest JSC
 */
?>
<?php
 /** @var $block \Magenest\QuickBooksOnline\Block\System\Config\Form\Button\Connection */
?>
<script type="text/javascript">
    requirejs(['intuit.ipp.anywhere'], function(intuit.ipp.anywhere){
        intuit.ipp.anywhere.setup({
            menuProxy: '<?php echo $block->getMenuUrl();?>',
            grantUrl: '<?php echo $block->getGrantUrl();?>'
        });
    });


</script>
<div class="qbo-connection">
    <?php if (!$block->check()) :?>
        <div class="qbo-status not-connect">
            <?php echo __("<b>NOT</b> Connected");?>
            <div class="connection-qbo-button">
                <ipp:connectToIntuit></ipp:connectToIntuit>
            </div>
        </div>
        <div class="qbo-description">
            <?php echo __('- You must authenticate to QuickBooks <b>once</b> before you can exchange data with it.</br>');
            echo __('- <strong>You only have to do this once!</strong></br>');
            echo __('- After you\'ve authenticated once, you never have to go
                    through this connection process again.<br>
                    - Click the button above to
                    authenticate and connect.');
            ?>
        </div>

    <?php else :?>
        <?php $companyInfo = $block->getCompanyInfo();?>
        <ipp:blueDot></ipp:blueDot>
        <div class="qbo-status success">
            <?php echo __("Connected");?>
        </div>
        <div class="qbo-description">
            <table>
                <tbody>
                <?php foreach ($companyInfo as $label => $value) : ?>
                    <tr>
                        <td><label class="label-qbo"><?php echo __($label)?></label></td>
                        <td class="qbo-info"><?php echo $value?></td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
            <div class="qbo-button">
<!--                <span>--><?php //echo $block->getReconnectButtonHtml()?><!--</span>-->
                <span><?php echo $block->getDisconnectButtonHtml()?></span>
            </div>
        </div>
    <?php endif;?>
</div>
<script>
    require(['jquery'], function (jQuery) {
        jQuery('[data-ui-id="content-schedule-block2-disconnect-button"]').click(function(){
            var url = '<?php echo $block->getDisconnectUrl(); ?>';
            jQuery.ajax({
                type: "POST",
                url: url,
                data: {form_key: FORM_KEY},
                showLoader: true,
                success: function(){
                    location.reload();
                }
            });
        });
    });
</script>