<?php /* @var $block \Sm\Vtiger2m2\Block\System\Config\SyncProductVtiger2m2 */ ?>
<script>
    require([
        'jquery',
        'prototype'
    ], function(jQuery){

        var clearSpan = jQuery('#clear_span');

        jQuery('#clearVtigerFields').click(function () {
            var params = {};
            new Ajax.Request('<?php echo $block->getAjaxUrl() ?>', {
                parameters:     params,
                loaderArea:     false,
                asynchronous:   true,
                onCreate: function() {
                    clearSpan.find('.cleared').hide();
                    clearSpan.find('.cleared_fail').hide();
                    clearSpan.find('.clearing').show();
                    jQuery('#clear_message_span').text('clearing');
                },
                onSuccess: function(response) {
                    clearSpan.find('.clearing').hide();

                    var resultText = '';
                    if (response.responseJSON.success) {
                        resultText = response.responseJSON.message;
                        clearSpan.find('.cleared').show();
                    } else {
                        resultText = response.responseJSON.message;
                        clearSpan.find('.cleared_fail').show();
                    }
                    jQuery('#clear_message_span').text(resultText);
                }
            });
        });

    });
</script>

<?php echo $block->getButtonHtml() ?>
<span class="clear-indicator" id="clear_span">
    <img class="clearing" hidden="hidden" alt="Synchronizing" style="margin:0 5px" src="<?php echo $block->getViewFileUrl('images/process_spinner.gif') ?>"/>
    <img class="cleared" hidden="hidden" alt="Synchronized" style="margin:-3px 5px" src="<?php echo $block->getViewFileUrl('images/rule_component_apply.gif') ?>"/>
    <img class="cleared_fail" hidden="hidden" alt="synchronized_fail" style="margin:-3px 5px" src="<?php echo $block->getViewFileUrl('images/rule_component_remove.gif') ?>"/>
    <span id="clear_message_span"></span>
</span>