<?php /* @var $block \Sm\Vtiger2m2\Block\System\Config\SyncSOVtiger2m2*/ ?>
<script>
    require([
        'jquery',
        'prototype'
    ], function(jQuery){

        var synchronizeSpan = jQuery('#so_synchronize_span');

        jQuery('#sync_so_vtiger2m2').click(function () {
            var params = {};
            new Ajax.Request('<?php echo $block->getAjaxUrl() ?>', {
                parameters:     params,
                loaderArea:     false,
                asynchronous:   true,
                onCreate: function() {
                    synchronizeSpan.find('.synchronized').hide();
                    synchronizeSpan.find('.synchronized_fail').hide();
                    synchronizeSpan.find('.synchronizing').show();
                    jQuery('#so_synchronize_message_span').text('synchronizing');
                },
                onSuccess: function(response) {
                    synchronizeSpan.find('.synchronizing').hide();

                    var resultText = '';
                    if (response.responseJSON.success) {
                        resultText = response.responseJSON.message;
                        synchronizeSpan.find('.synchronized').show();
                    } else {
                        resultText = response.responseJSON.message;
                        synchronizeSpan.find('.synchronized_fail').show();
                    }
                    jQuery('#so_synchronize_message_span').text(resultText);
                }
            });
        });

    });
</script>

<?php echo $block->getButtonHtml() ?>
<span class="synchronize-indicator" id="so_synchronize_span">
    <img class="synchronizing" hidden="hidden" alt="Synchronizing" style="margin:0 5px" src="<?php echo $block->getViewFileUrl('images/process_spinner.gif') ?>"/>
    <img class="synchronized" hidden="hidden" alt="Synchronized" style="margin:-3px 5px" src="<?php echo $block->getViewFileUrl('images/rule_component_apply.gif') ?>"/>
    <img class="synchronized_fail" hidden="hidden" alt="synchronized_fail" style="margin:-3px 5px" src="<?php echo $block->getViewFileUrl('images/rule_component_remove.gif') ?>"/>
    <span id="so_synchronize_message_span"></span>
</span>