<?php
//echo $this->getLayout()
//	->createBlock('wordpress/post_associated_products')
//		->setTemplate('wordpress/post/associated/products.phtml')
//		->setTitle('Related Products')
//		->toHtml();	
/**
 * NOTE -- PRODUCST ARE NOW OUTPUTTING BASED ON CATEGORY
 		   NEXT STEP IS TO FORMAT AND OUTPUT PRODUCT AS 
		   SHOULD DISPLAY ON STORE.
**/
?>
<?php 


$cat = $this->getCategoryIDbyTitle($_SESSION['wp-category']);

$prods = $this->getCategoryProductsRand($cat);

/*echo "Prod count = ".count($prods);*/

?>

<?PHP /*<div id="test">Category ID = <?PHP echo $cat; ?> <br/> Category Name = <?PHP echo $_SESSION['wp-category']?></div>*/?>
<?php if (count($prods) > 0): ?>
<div class="featured-prod-container" style="clear:both; margin-top:4em;">
	<div class="title-home">
		<h3><span>Products you may be interested in...</span></h3>
	</div>
	<div class="slider-prod-container">
		<div class="slider-prod">
			<?php foreach($prods as $prod): ?>
			<?PHP //echo "price".number_format($prod->getPrice(), 2, ".", "," );?>
			<?php if(number_format($prod->getPrice(), 2, ".", "," )	!= '0.00'): ?>
 			<div class="item item-post">
			
				<?PHP 
					$productImage = ($prod->getImage() != null) ? $prod->getImage() : ($prod->getThumbnail() != null ? $prod->getThumbnail() : '');
				?>
													<?PHP /*	<a href="<?php /* @escapeNotVerified * / echo $prod->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
												<img src="https://www.everybodyshops.com/pub/media/<?php echo $productImage; ?>" />
										</a>*/?>
				<?php if ($productImage != ''): ?>
				<div class="image-blog static-image">
					<a href="<?php /* @escapeNotVerified */ echo $prod->getProductUrl() ?>" class="img-link" title="<?php echo $this->escapeHtml($prod->getName()); ?>">
					<img src="<?php echo $this->getUrl('pub/media') . "catalog/product". $productImage; ?>" alt="<?PHP $this->escapeHtml($prod->getName()); ?>" />
					</a>
				</div>
				<?php endif; ?> 			
					
				<div class="info-blog">
						<div class="date-post-title">
							<?PHP /*$product = $this->getProduct($prod['entity_id']); /* var_dump($product);*/?>
							<!--postTitle = REMOVED SMY PUTTING ICON ON PRODUCT SLIDER--><h3 class=""><a href="<?php echo $prod->getUrlModel()->getUrl($prod); ?>"><?php echo $this->escapeHtml($prod->getName()); ?></a></h3>
						</div>
						<div class="product-price">Price: $<?PHP echo number_format($prod->getPrice(), 2, ".", "," );?></div>
						
						<?php /*if ($productImage !=''): 
						$prodData = $prod->getData();
						//print_r($prodData);
						?>
							<div class="postContent"><?php  echo $prodData['meta_description']?></div>
						<?php else: ?>
							<div class="postContent"><?php echo $prodData['meta_description']; ?></div>
						<?php endif; */ ?>	
					</div>
				
				</div>
			<?php endif; ?> 
			<?php endforeach; ?>
		</div>
	</div>
</div>

<script type="text/javascript">
	require([
		'jquery',
		'owlcarousel'
	], function ($) {
					var prod_slider = $(".slider-prod");
					prod_slider.owlCarousel({				
						nav: true,
						dots:false,
						margin: 30,
						
						responsive: {
							0: {
								items:1
							},
							480: {
								items:2
							},
							768: {
								items:4
							},
							991: {
								items:4
							},						
							1200: {
								items:6
							}
						}
					});	  
				});
</script>
<?php endif; ?>
<?PHP /*  echo $product->getName() . ' - ' . $product->getProductUrl() . '<br />'; */ ?>



