<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>

<?php $posts = $this->getPosts()
	->addPostTypeFilter('post')
	->setOrderByPostDate()
	->addIsViewableFilter()
	->setPageSize(5)
	->load(); ?>
<?php if (count($posts) > 0): ?>

<div class="latest-post-container">
<div class="title-home">
<h2><span><a href="https://www.everybodyshops.com/learning"><img src="https://www.everybodyshops.com/pub/media/logo/stores/1/EverybodyLearns_554.jpg"/></a></span></h2> 

</div>
<div class="slider-post-container">
<div class="slider-post">
<?php foreach($posts as $post): ?>


	<div class="item item-post">


	<?php if ($featuredImage = $post->getImage()): ?>

	<div class="image-blog static-image">
		<a class="img-link" title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>" href="<?php echo $post->getUrl() ?>">
		<div style="display: block;margin: auto;width: 100%;height: auto;overflow: hidden;background-color: white; max-height:200px;">
			<img class="" style="display: inline-block; vertical-align: middle; height: 100%;" src="<?php echo $featuredImage->getImageByType($type = 'medium') ?>" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>" />
		</div>
		</a>

	</div>
	<?php endif; ?>

	<div class="info-blog">
		<div class="date-post-title">
						<?PHP /*<div class="date-post">
				<div class="day"><?php echo $post->getPostDate("d") ?> </div>
				<div class="day"><?php echo $post->getPostDate("d") ?> </div>
				<div class="month"><?php echo $post->getPostDate("M") ?></div>

			</div> */

				?>
				
				
			<h2 class="postTitle"><a href="<?php echo $post->getUrl() ?>"><?php echo $this->escapeHtml($post->getPostTitle()) ?></a></h2>
			<?php if ($categoryString = $post->getTermCollectionAsString('category')): ?>
				<div class="post-categories post-meta-item">Categories: <?php echo $categoryString ?></div>
			<?php endif; ?>
		</div>
		<?php if ($featuredImage = $post->getImage()): ?>
			<div class="postContent"><?php echo $post->getExcerpt(40) ?></div>
		<?php else: ?>
			<div class="postContent"><?php echo $post->getExcerpt(140) ?></div>
		<?php endif; ?>	
		<div class="post-readmore">
			<a href="<?php echo $post->getUrl() ?>">Read More &raquo;</a>
		</div>
	</div>
</div>
		<?php endforeach; ?>
 
</div>
</div>
</div>
<script type="text/javascript">
	require([
		'jquery',
		'owlcarousel'
	], function ($) {
					var post_slider = $(".slider-post");
					post_slider.owlCarousel({				
						nav: true,
						dots:false,
						margin: 30,
						
						responsive: {
							0: {
								items:1
							},
							480: {
								items:2
							},
							768: {
								items:3
							},
							991: {
								items:2
							},						
							1200: {
								items:3
							}
						}
					});	  
				});
</script>
<?php endif; ?>







