<?php
/**
 *
**/
?>

<?php if ($post = $this->getPost()): ?>

	<?php 
		if ($categoryString = $post->getTermCollectionAsString('category')){
			$_SESSION["wp-category"]=$categoryString;
		}
	?>
	
	<?php if (($content = trim($post->getContent())) !== ''): ?>
		<div class="post-content">
		<h1><?php the_title(); ?></h1>
			<?php echo $content ?>
		</div>
	<?php endif; ?>
	
<?php endif; ?>