<?php
/**
 *
**/
/*
$currentUrl = Mage::helper('core/url')->getCurrentUrl();
$url = Mage::getSingleton('core/url')->parseUrl($currentUrl);
$path = $url->getPath();*/
?>

		
<?php if ($post = $this->getPost()): ?>
	<!---<pre>
	<?PHP //var_dump($post); 
   	//print_r($post);
		//echo $post->getIdentities();
     //echo $post->getId() . "
	 //" .$post->getUrl();
     ?>
	</pre>-->


	<?php
		if ($categoryString = $post->getTermCollectionAsString('category')){
			$_SESSION["wp-category"]=strip_tags($categoryString);
		}
	?>
	
	<?php if (($content = trim($post->getContent())) !== ''): ?>
				<div><!--Social Opener-->
				
				<?php /*?>
				<div id="fb-root"></div>
					<a  class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/share.php?u=<?php echo $post->getPermalink() ?>&amp;t=<?php the_title(); ?>">
					<!--<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x hssn-blue"></i>
						<i class="fa fa-facebook fa-stack-1x"></i>
					</span>-->
					</a>
				<?php */?>
					
				<!-- Your share button code -->
				<?php /*?><!--<div class="fb-share-button" data-href="<?PHP echo $post->getUrl(); ?>" data-layout="button" data-size="large" data-mobile-iframe="true"></div>--><?php */?>
				<div id="fb-root"></div>
				<a style="color:white;" class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<?PHP echo $post->getUrl(); ?>">
				<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x hssn-blue"></i>
						<i class="fa fa-facebook fa-stack-1x"></i>
				</span>
				</a>
				<!--Do not HIDE NOR COMMENT THE FOLLOWING 8 LINES - ty-->	
				<div class="hidden" style="display: none;">
					<a href="https://www.facebook.com/share.php?u=<?PHP echo $post->getUrl(); ?>%2F&amp;src=sdkpreparse" style="color:white;">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x hssn-blue"></i>
							<i class="fa fa-facebook fa-stack-1x"></i>
						</span>
					</a>
				</div>
				<!--</div>-->
				<!--Twitter Share Button (story)-->
					<a href="https://twitter.com/share?url=<?php echo $post->getPermalink() ?>" rel="canonical" data-size="large" style="color:white;">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x hssn-blue"></i>
							<i class="fa fa-twitter fa-stack-1x"></i>
						</span>
					</a>
				<!--Close Twitter Share Button -->
				<!--Mail to Button-->	
					<a href="mailto:?Subject=High%20School%20Sports%20Network--<?php echo $post->getPermalink() ?>" style="color:white;">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x hssn-blue"></i>
							<i class="fa fa-envelope fa-stack-1x"></i>
						</span>
					</a>
					<a href="javascript:window.print()" style="color:white;">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x hssn-blue"></i>
							<i class="fa fa-print fa-stack-1x"></i>
						</span>
					</a>
				<!--Mail to Button Close-->
				</div>
				<br />
				<div class="post-content"><?php echo $content ?></div>
				<br />
				<div><!--Social Opener After Story-->
				<div id="fb-root"></div>
					<a style="color:white;" class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<?PHP echo $post->getUrl(); ?>">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x hssn-blue"></i>
							<i class="fa fa-facebook fa-stack-1x"></i>
						</span>
					</a>
				<!--Do not HIDE NOR COMMENT THE FOLLOWING 8 LINES - ty-->	
				<div class="hidden" style="display: none;">
					<a href="https://www.facebook.com/share.php?u=<?PHP echo $post->getUrl(); ?>%2F&amp;src=sdkpreparse" style="color:white;">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x hssn-blue"></i>
							<i class="fa fa-facebook fa-stack-1x"></i>
						</span>
					</a>
				</div>
				<!--</div>-->
				<!--Twitter Share Button (story)-->
					<a href="https://twitter.com/share?url=<?php echo $post->getPermalink() ?>" rel="canonical" data-size="large" style="color:white;">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x hssn-blue"></i>
							<i class="fa fa-twitter fa-stack-1x"></i>
						</span>
					</a>
				<!--Close Twitter Share Button -->
				<!--Mail to Button-->	
					<a href="mailto:?Subject=High%20School%20Sports%20Network--<?php echo $post->getPermalink() ?>" style="color:white;">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x hssn-blue"></i>
							<i class="fa fa-envelope fa-stack-1x"></i>
						</span>
					</a>
				<a href="javascript:window.print()" style="color:white;"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x hssn-blue"></i><i class="fa fa-print fa-stack-1x"></i></span></a>
				<!--Mail to Button Close-->
				</div>
		
	<?php endif; ?>
<?php endif; ?>