<?php
/**
 *
**/
?>
<?php if ($post = $this->getPost()): ?>
	<?php if ($image = $post->getImage()): ?>
		<div class="post-image" style="width: 100%; margin-bottom:15px; border-bottom: thick solid #909090; max-height: 300px; overflow: hidden;">
			<a href="<?php echo $post->getUrl() ?>" title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"><img src="<?php echo $image->getAvailableImage() ?>" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/></a>
		</div>
	<?php endif; ?>
<?php endif; ?>