<?php
/**
 *
**/
?>
<?php if ($post = $this->getPost()): ?>
	<?php if ($image = $post->getImage()): 
			$postImage = "";
			if ($image->getFullSizeImage() != NULL) {$postImage = $image->getFullSizeImage();}
			elseif ($image->getLargeImage() != NULL) {$postImage = $image->getLargeImage();}		
	?>
	
		<div class="post-image" style="width: 100%; margin-bottom:15px; border-bottom: thick solid #909090; max-height: 260px; overflow: hidden;">
			<a href="<?php echo $post->getUrl() ?>" title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"><img src="<?php echo $postImage; ?>" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/></a>
		</div>
	<?php endif; ?>
<?php endif; ?>


<?php /*?>elseif($image->getMediumImage() != NULL){$postImage = $image->getMediumImage();}
elseif($image->getPostThumbnail() != NULL){$postImage = $image->getPostThumbnail();}<?php */?>