<script>
    require([
        "Magesales_VtigerCrm/js/fields",
        "domReady!"
    ], function (Fields) {
        var fields = new Fields({url: '<?php echo $this->getUpdateUrl()?>'});
    });
</script>
<script>
    require(["jquery"], function (jQuery) {
        jQuery("#updateallfields").click(function () {
            var url = '<?php echo $this->getUpdateAllFields(); ?>';
            jQuery.ajax({
                type: "POST",
                url: url,
                data: {
                    form_key: FORM_KEY
                },
                showLoader: true,
                success: function () {
                    console.log('Update success');
                }
            });
        });
    });
</script>
